$primary_color: #4a235a;
$secondery_color: #f1881f;
$black: #3c3c3c;

html body {
  margin: 0px;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

#root {
  width: 100%;
  height: 100vh;
}

.primary {
  color: $primary_color;
}

.navbar {
  height: 5rem !important;
  background-color: #fff !important;
  border: 1px solid rgb(205, 205, 205);
}

.pr_btn {
  background-color: $primary_color;
}

.outline_btn {
  border-color: $primary_color;
  color: $primary_color;
}

.navbar_items {
  .p-menuitem-link {
    color: white !important;
  }

  .p-menuitem-link:hover {
    color: black !important;
  }

  .p-menuitem-text {
    color: white !important;
  }

  .p-menuitem-text:hover {
    color: black !important;
  }

  .p-menuitem-icon {
    color: white !important;
  }

  .p-menuitem-icon:hover {
    color: black !important;
  }
}

#imageContainer {
  background-image: url("../Assets/First.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 32rem;
  box-sizing: border-box;
}

#imageContainer1 {
  background-image: url("../Assets/First.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-attachment: fixed;
  background-position: center;
}

.home {
  .p-tabview {
    background-color: #fff;
  }

  .p-tabview .p-tabview-nav .p-tabview-ink-bar {
    background-color: $secondery_color;
    color: $secondery_color;
    border-color: $secondery_color;
  }

  .p-tabview-nav-container, .p-tabview-panels {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  li.p-highlight {
    border-color: $secondery_color;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: $secondery_color;
    border-color: $secondery_color;
  }
}

.home-card {
  .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
    border: 1px solid $primary_color;
    color: $primary_color;
    font-weight: 900;
    font-size: 20px;
  }
}

.black {
  color: $black;
}

.get-rp {
  font-size: 3rem;
  font-weight: 500;
  color: $primary_color !important;
}

.secondery {
  color: $secondery_color;
}

.siderbar {
  .css-dip3t8, .css-ewdv3l {
    background-color: $primary_color !important;
    color: white !important;
  }

  height: 100%;
  box-shadow: 3px 3px 3px rgb(194, 194, 194);
  a:hover{
    background-color: #b85eb8 !important;
  }
  .handle-toggle-sidebar {
    a:hover{
      background-color: unset !important;
    }
  }
}

.service-card {
  background-color: $primary_color;
  box-shadow: 3px 3px 3px rgb(194, 194, 194);
  color: white;
  border-radius: 10px;
  transition: width 0.3s, height 0.3s;
  .p-card-content {
    height: 150px;
    min-height: 150px;
  }
  &.add-new {
    .p-card-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 207px;
      cursor: pointer;
      i {
        font-size: 24px;
        font-weight: 900;
      }
    }
  }
}

.wizard-border{
  border: 1px solid #c8c7c7;
  padding: 23px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.tabView{
  .p-component .tabView .p-tabview{
    width: 100% !important;
  }
}

.m-panel .p-menuitem-text {
  color: #fff;
  font-weight: 600;
}

.m-panel .p-megamenu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
  color: #fff;
  background: transparent;
}

.getrip-shadow-none {
  box-shadow: none !important;
}

.getrip-card-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.getrip-card-image img {
  width: 35%;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-12 {
  padding-left: 15rem;
  padding-right: 15rem;
}

.custom-widht{
  width: 500px;
}
