$primary_color: #4a235a;
$secondery_color: #f1881f;
$black: #3c3c3c;

html body {
  margin: 0px;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

#root {
  width: 100%;
  height: 100vh;
}

.primary {
  color: $primary_color;
}

.active-tab {
  border-color: $secondery_color !important;
  color: $secondery_color !important;
}

.p-datepicker table td > span.p-highlight {
  color: #fff;
  background: $secondery_color;
}

#image-container-home .p-carousel-item .active-tab,
#image-container-filter-result .p-carousel-item .active-tab {
  border-radius: 0;
  border-bottom: 2.7px solid $secondery_color !important;
}

.navbar {
  height: 5rem !important;
  background-color: #fff !important;
  border: 1px solid rgb(205, 205, 205);
}

.service-home-card {
  .p-card .p-card-title {
    font-size: 1.8rem;
    font-weight: 550;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: #000;
  }
}

.m-home-card {
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  .show-details:hover, .show-update:hover {
    background-color: $secondery_color !important;
    color: #fff !important;
  }

  .p-card-content {
    padding: 1.25rem 0 0 0;
  }

  .delete-details:hover {
    background-color: #ef4444 !important;
    color: #fff !important;
  }

  .show-details:focus , .delete-details:focus, .delete-update:focus {
    outline: none;
    box-shadow: none;
  }
}

.p-image-preview-container:hover > .p-image-preview-indicator {
  border-radius: 30px 30px 0 0;
}

.primary_btn {
  background-color: $primary_color;
}

.outline_btn {
  border-color: $primary_color;
  color: $primary_color;
}

.navbar_items {
  .p-menuitem-link {
    color: white !important;
  }

  .p-menuitem-link:hover {
    color: black !important;
  }

  .p-menuitem-text {
    color: white !important;
  }

  .p-menuitem-text:hover {
    color: black !important;
  }

  .p-menuitem-icon {
    color: white !important;
  }

  .p-menuitem-icon:hover {
    color: black !important;
  }
}

#image-container-home {
  background-image: url("../Assets/First.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 32rem;
  box-sizing: border-box;
}
#image-container-filter-result {
  background-image: url("../Assets/First.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

#image-container-profile {
  background-image: url("../Assets/First.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-attachment: fixed;
  background-position: center;
}

.home {
  .p-tabview {
    background-color: #fff;
  }

  .p-tabview .p-tabview-nav .p-tabview-ink-bar {
    background-color: $secondery_color;
    color: $secondery_color;
    border-color: $secondery_color;
  }

  .p-tabview-nav-container, .p-tabview-panels {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  li.p-highlight {
    border-color: $secondery_color;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: $secondery_color;
    border-color: $secondery_color;
  }
}

.home-card {
  .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
    border: 1px solid $primary_color;
    color: $primary_color;
    font-weight: 900;
    font-size: 20px;
  }
}

.black {
  color: $black;
}

.get-rp {
  font-size: 3rem;
  font-weight: 500;
  color: $primary_color !important;
}

.secondery {
  color: $secondery_color;
}

.p-inputtext:enabled:focus {
  border-color: $secondery_color;
}

.p-button-secondery {
  background-color: $secondery_color;
  color: #FFF;
  border: none;
  outline: none;
  padding: 10px;
}

.siderbar {
  .css-dip3t8, .css-ewdv3l {
    background-color: $primary_color !important;
    color: white !important;
  }

  height: 100%;
  box-shadow: 3px 3px 3px rgb(194, 194, 194);
  a:hover{
    background-color: #b85eb8 !important;
  }
  .handle-toggle-sidebar {
    a:hover{
      background-color: unset !important;
    }
  }
}

.service-card {
  position: relative;
  background-color: $primary_color;
  box-shadow: 3px 3px 3px rgb(194, 194, 194);
  color: white;
  border-radius: 10px;
  transition: width 0.3s, height 0.3s;
  max-height: 350px;
  min-height: 350px;
  overflow: hidden;

  .p-card-content {
    // height: 150px;
    // min-height: 150px;
  }
  &.add-new {
    .p-card-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 207px;
      cursor: pointer;
      i {
        font-size: 24px;
        font-weight: 900;
      }
    }
  }
  .p-card-footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

.wizard-border{
  border: 1px solid #c8c7c7;
  padding: 23px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.tabView{
  .p-component .tabView .p-tabview{
    width: 100% !important;
  }
}

.m-panel .p-menuitem-text {
  color: #fff;
  font-weight: 600;
}

.m-panel .p-megamenu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
  color: #fff;
  background: transparent;
}

.getrip-shadow-none {
  box-shadow: none !important;
}

.getrip-card-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.getrip-card-image img {
  width: 35%;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-12 {
  padding-left: 15rem;
  padding-right: 15rem;
}

.custom-widht{
  width: 500px;
}

.our-partner {
  .p-fieldset .p-fieldset-legend {
    padding: 0 10px 0;
    border: none;
    color: #374151;
    background: #f9fafb;
  }
}

.footer {
  background-color: #0e274b;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.footer-top {
  background-color: #0e274b;
  margin-top: 10px;
  margin-bottom: 20px;
}

.location {
  font-weight: bold;
}

.footer-middle {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  text-align: start;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column a {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 13px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  font-size: 14px;
}

.users-icon, .services-icon, .notifications-icon {
  position: relative;

  .p-card-title {
    text-align: start;
    font-size: 1.1rem;
  }
  .p-card .p-card-body {
    padding: 10px 30px;
  }

  .p-tabview-nav-container {
    text-align: center;
  }

  .p-tabview .p-tabview-panels {
    padding: 0 !important;
  }

  .p-tabview-title {
    font-size: .9rem;
  }

  .menu-users, .menu-services, .menu-notifications {
    position: absolute;
    width: 250px;
    height: 330px;
    overflow: hidden;
    top: 70px;
    right: 150px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #ddd;
    z-index: 999999;


    .tab-footer {
      background-color: $primary_color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 25px;
      text-decoration: underline;
      color: #FFF;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 40px;
      cursor: pointer;
      border-top: 1px solid #ddd;
      right: 0;
    }

    .tab-footer:hover {
      text-decoration: none;
    }
  }

  .loading-overlay-users, .loading-overlay-services {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
}

.check-circle-services {
  font-size: 16px;
  color: green;
}

.times-circle-services {
  font-size: 16px;
  color: red;
}

.p-speeddial-button.p-button.p-button-icon-only {
  width: 3rem;
  height: 3rem;
}

.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 500ms, transform 500ms;
}

.service-card-content {
  .p-rating .p-rating-item.p-focus {
    outline: none;
    box-shadow: none;
  }

  .p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: $secondery_color;
  }

  .p-card .p-card-content, .p-card .p-card-body {
    padding: 0;
  }

  .view-details:focus {
    outline: none;
    box-shadow: none;
  }
}

.input-template {
  max-width: 150px;
}

.no-data-services {
  width: 100%;
  display: block;
  text-align: center;
  margin: 30px auto;
  font-size: 24px;
  font-family: fangsong;
  font-style: italic;
  color: $primary_color;
  border-radius: 5px;
  text-transform: uppercase;
}

.no-data-home-page {
  width: 10%;
  display: block;
  text-align: center;
  margin: 30px auto;
  font-size: 24px;
  font-family: fangsong;
  font-style: italic;
  background: $secondery_color;
  color: #FFF;
  padding: 18px;
  border-radius: 5px;
}

.section-tow-search-and-filter .p-multiselect-label {
  min-width: 200px;
}
.section-tow-search-and-filter .p-inputwrapper-filled.p-multiselect.p-multiselect-chip .p-multiselect-label {
  max-width: 250px;
}

.service-details-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  .service-details-header {
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .slid-style {
    border-radius: 25px;
  }

  .service-details-info h1 {
    margin: 0;
    font-size: 26px;
  }

  .service-details-info p {
    margin: 5px 0 0 0;
    font-size: 15px;
    color: #777;
  }

  .service-details-actions {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .book-now-button {
    background-color: $secondery_color;
    color: #fff;
  }

  .gallery {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    margin-bottom: 20px;
  }

  .gallery img {
    border-radius: 10px;
  }

  .tabs {
    display: flex;
    border: 1px solid #ccccccbd;
    border-radius: 15px;
    padding: 10px 30px 0px 20px;
    flex-wrap: wrap
  }

  .tab-button {
    padding: 15px 0 20px 0;
    border: none;
    cursor: pointer;
    font-size: 17px;
    background-color: #fff;
    flex: 1;
    text-align: center;
    margin: 0 15px;
  }

  .tab-button.active {
    background-color: #fff;
    border-bottom: 2px solid $secondery_color;
    color: $secondery_color;
  }

  .tab-content {
    display: flex;
    border: 1px solid #ccccccbd;
    border-radius: 15px;
    padding: 10px 30px 30px 30px;
    font-size: 17px;
    background-color: #fff;
  }

  .sidebar{
    border: 1px solid #ccccccbd;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 17px;
    background-color: #fff;
  }

  .tab-pane.active {
    display: block;
  }

  .sidebar-border {
    width: 100%;
    border: 1px solid #ccccccbd;
    border-radius: 15px;
    padding: 18px;
  }

  .sidebar-info p {
    margin: 10px 0;
    font-size: 16px;
  }

  .tags-chip {
    background-color: $primary_color;
    color: #fff;
    font-size: 12px;
    padding: 1px 8px;
  }

  .sidebar-total-fees, .sidebar-tags {
    margin-top: 25px;
    border-top: 1px solid #ccccccbd;
  }
}

.show_preview {
  background-color: $secondery_color;
  color: #FFF;
  outline: none;
  border: none;
  box-shadow: none;
}

.no-data-carousel-home-page {
  // background-color: $secondery_color;
}


.orders-table .actions-column {
  position: 'sticky' !important;
  right: 0;
  background-color: #f8f9fa;
  z-index: 1;
}

.orders-table .actions-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.orders-table .p-datatable-thead th:last-child,
.orders-table .p-datatable-tbody td:last-child {
  position: 'sticky';
  right: 0;
  background-color: #f8f9fa;
}

.orders-table .p-datatable-wrapper {
  overflow-x: auto;
}

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-button {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .search-and-filter, .form-user-type {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .check-out-page {
    padding: 2rem 15rem;
  }
}

@media screen and (max-width: 1200px) {
  .section-tow-search-and-filter .p-multiselect-label {
    min-width: 150px;
  }
  .section-tow-search-and-filter .p-inputwrapper-filled.p-multiselect.p-multiselect-chip .p-multiselect-label {
    max-width: 200px;
  }

  .search-and-filter, .form-user-type {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .check-out-page {
    padding: 2rem 10rem;
  }
}

@media screen and (max-width: 768px) {
  .search-and-filter, .form-user-type {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .check-out-page {
    padding: 1rem 2rem;
  }
  .get-rp {
    font-size: 2rem;
    font-weight: 500;
    color: $primary_color !important;
  }
}

@media screen and (max-width: 560px) {
  .search-and-filter, .form-user-type {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .check-out-page {
    padding: 1rem;
  }
}
