.layout-with-sidebar {
  height: calc(100% - 5rem);
  overflow: 'hidden';
  display: flex;
  background-color: whitesmoke;
}

.content {
  flex: 1;
  padding: 20px;
}

.content-with-offset {
  // height: calc(100% - 5rem);
  overflow: hidden;
  padding: 20px;
  flex: 1;
}
